main {
	flex: 1;
}

.cursor-pointer {
	cursor: pointer;
}

.nav-link::after {
	content: "\00d7";
	display: inline-block;
	color: transparent;
	width: 0.5rem;
	font-weight: 400;
	transform: scale(0);
	transition: transform 150ms ease-in-out;
}
.nav-link.clear {
	color: #f68185;
	opacity: 0;
	transform: translate3d(-25%, 0, 0);
	pointer-events: none;
	transition: all 275ms ease-in-out;
}
.nav-link.filter ~ .nav-link.clear {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	pointer-events: auto;
}
.nav-link.filter::after,
.nav-link.active::after {
	transform: scale(1);
}
.nav-link.filter::after {
	content: "\2022";
	color: #46d2c4;
}
.nav-link.active::after {
	content: "\00d7";
	color: #f68185;
}

.row a[href="javascript:void(0)"] {
	opacity: 1;
	cursor: unset;
	text-decoration: none;
}
.row a[href="javascript:void(0)"]:hover {
	color: unset;
}

.project-move {
	transition: all 600ms ease-in-out 50ms;
}
.project-enter-active {
	transition: all 300ms ease-out;
}

.project-leave-active {
	transition: all 450ms ease-in;
	position: absolute;
	z-index: 0;
}

.project-enter,
.project-leave-to {
	opacity: 0;
}
.project-enter {
	transform: scale(0.9);
}

@media screen and (max-width: 560px) {
	form {
		width: 100%;
	}
	.me-sm-0 {
		margin-right: 0 !important;
	}
}
